.about {
  padding: 0 2rem;
  display: flex;
  gap: 2rem;
}
.about-header{
    display: flex;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.about-left {
  flex: 1 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-auto-rows: 1fr;
}
.about-left img {
  object-fit: cover;
}
.about-left :nth-child(1) {
  width: 18rem;
  grid-row: 1/3;
  height: 31rem;
}
.about-left :nth-child(2) {
  width: auto;
  height: 16rem;
  grid-column: 2/4;
}
.about-left :nth-child(3) {
  width: 13.7rem;
  grid-column: 2/3;
  grid-row: 2;
}
.about-left :nth-child(4) {
  width: 13.5rem;
  height: 13.6rem;
  grid-row: 2;
  grid-column: 3/4;
}

.about-right {
  flex: 1 1;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
}
.details-right {
  display: flex;
  flex-direction: column;
 
}
.details-text{
    font-size: 1.4rem;
    font-weight: normal;
    text-transform: none;
    letter-spacing: 1px;
    color: #1abc9c;
  
}
.details-right div {
  display: flex;
  font-size: 1rem;
  gap: 1rem;
}
h3{
    /* font-size: 2rem; */
    color: var(--color-text);
    text-transform: uppercase;
}
.details-feature{
    display: flex;
    flex-direction: column;
    gap: .5rem;

}
.feature-text{
    color: white;
    font-size: 1rem;
    margin-bottom: 4px;
  
   
}
@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
  }
  .about-left {
    grid-auto-flow: auto;
    overflow: hidden;
  }
  .about-left :nth-child(1) {
    width: 7rem;
    height: 17rem;
  }
  .about-left :nth-child(2) {
    width: 15rem;
    height: 10rem;
  }
  .about-left :nth-child(3) {
    width: 10rem;
    height: 6rem;
  }
  .about-left :nth-child(4) {
    width: 7rem;
    height: 7rem;
  }
  .details-right div span {
    font-size: small;
  }
}
