.footer-container {
  position: relative;
  background: var(--color-blog);
}
.footer-container hr {
  border: 1px solid var(--color-blog);
}
.footer {
  padding: 1 rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  height: 20rem;
}
.copyright{
  font-size: 1rem;
  color: var(--color-text);
  font-style: var(--font-family);
}
